.picker-container {
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 200px;
  border-radius: 5px;
  box-shadow: 1px 2px #f0f0f0;
  position: relative;
}
.title {
  margin: 0;
  font-size: 16px;
  border: none;
  background-color: inherit;
}
.title-header {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}
.yearpicker {
  border: none;
}
.body-picker {
  padding: 5px;
  /* display: flex;
  flex-wrap: wrap; */
}
.elm-picker {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  padding: 5px 0;
  border: none;
  font-size: inherit;
  background-color: inherit;
}
.elm-picker:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
button:focus { 
  outline:0 !important; 
}
select:focus { 
  outline:0 !important;
}
 select#yearpicker {
  background: #f0f0f0;
  padding: 3px 22px 3px 3px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 3px) 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bolder;
  font-size: 18px;
}
